// setting base styles that are common throughout the html

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    max-width: 1280px;
    width: 70%;
    margin: 0 auto;
}

button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
