footer  {

    background-color: $accentColor;
    height: 5vh;
    display: flex;

    .wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        p {
            color: white;

            a {
                text-decoration: underline;

                &:hover {
                    color: $secondaryColor;
                }
            }
        }
    }
}