header {  
    .headerNav{
        background-color: $accentColor;
        color: $backgroundColor;
        display: flex;
        justify-content: space-between;

        h1 {
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            padding: 1rem 0 1rem 2rem;
        }
        nav {
            display: flex;
            align-items: center;
            ul {
                display: flex;
                padding-right: 1rem;
                li {
                    a {
                        padding: 1rem;
                        text-transform: uppercase;
                        transition: 0.4s;
                        &:hover, &:focus {
                            color: $secondaryColor;
                        }
                    }
                }
            }
        }
    }
    .headerImage{
        // https://www.freepik.com/vectors/colouring-book - Colouring book vector created by bimbimkha - www.freepik.com
        background-image: url('../assets/backgroundImage.jpg'); 
        background-position: center; 
        background-size: cover;
        height: 50vh;
    }
}