main {
    text-align: center;
}

.introDropdown, .introSearch {
    margin: 30px 0;
    width: 100%;
    p {
        padding: 1rem 0;
    }

    select {
        background-color: $accentColor;
        color: $backgroundColor;
        padding: 0.5rem 1rem;
        text-align: center;
        border: none;
        option {
            color: $backgroundColor;
        }
        
    }

    .recipeSearchForm {
        input  {
            padding: 0.5rem;
            border: 2px solid $accentColor;
            outline: none;
        }
    }
}