main {
    // height: calc( 100vh - 7vh);
    text-align: center;
}

.introDropdown {
    margin: 50px 0;
    width: 100%;
    p {
        padding: 1rem 0;
    }


    select {
        background-color: $accentColor;
        color: $backgroundColor;
        padding: 0.5rem 1rem;
        text-align: center;
        border: none;
        option {
            color: $backgroundColor;
        }
        
    }
}