@media (max-width: 720px) {
    .wrapper {
        width: 90%;
    }    
    footer {
        .footerContent {
            flex-direction: column;
            p {
                padding-top: 1rem;
                &:last-child {
                    padding-bottom: 1rem;
                }
            }
        }
    }
}