.results {
    margin: 0 0 75px;

    .wrapper {

        .cardHolder {
            display: none;
            perspective: 40rem;
            width: 50%;
            margin: 0 auto;

            .cardHolderInner {
                    display: flex;
                    transform-style: preserve-3d;
                    transition: transform 0.8s;

                    .recipeCardFront {
                        min-width: 100%;
                        backface-visibility: hidden;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background-color: red;
                        padding: 50px;

            
                        h2 {
                            padding: 1rem 0;
                        }
            
                        .imgContainer {
                            display: flex;
                            justify-content: center;
                            box-shadow: 0 0 20px $accentColor;
                        }
                    }
            
                    .recipeCardBack {
                        min-width: 100%;
                        backface-visibility: hidden;
                        transform: rotateX(-180deg) translate(-100%, 0);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background-color: green;
                    }
            
                }

        }


    }


}

.rotateCard {
    transform: rotateX(-180deg);
}
