.results {
    margin: 0 0 75px;

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .cardHolder {
            background-color: transparent;
            width: 300px;
            height: 200px;
            border: 1px solid #f1f1f1;
            perspective: 1000px;
            /* Remove this if you don't want the 3D effect */

            .cardHolderInner {
            
                    position: relative;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    transition: transform 0.8s;
                    transform-style: preserve-3d;
            
                    .recipeCardFront {
                        position: absolute;
                        width: 100%;
                        backface-visibility: hidden;
                        background-color: red;
            
                        h2 {
                            padding: 1rem 0;
                        }
            
                        .imgContainer {
                            display: flex;
                            justify-content: center;
                            // width: 290px;
                            // height: 230px;
                            box-shadow: 0 0 20px $accentColor;
                        }
                    }
            
                    .recipeCardBack {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        backface-visibility: hidden;
                        background-color: dodgerblue;
                        color: white;
                        transform: rotateY(180deg);
                    }
            
                }

        }
        .recipeInstructions {
            text-align: left;
            .recipeLink {
                padding-top: 1rem;
                a {
                    text-decoration: underline;
                    transition: color 0.4s;
                    &:hover {
                        color: $secondaryColor;
                    }
                }
            }
        }

    }


}

.rotateCard {
    transform: rotateY(180deg)
}