html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Arima", cursive;
}

h1,
h2,
h3,
ol,
ul,
li,
a,
input,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1280px;
  width: 70%;
  margin: 0 auto;
}

button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

header .headerNav {
  background-color: #43AA8B;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}
header .headerNav h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  padding: 1rem 0 1rem 2rem;
}
header .headerNav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .headerNav nav .slideDownMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #43AA8B;
  opacity: 0.9;
  z-index: 2;
}
header .headerNav nav .slideDownMenu li {
  padding: 0.5rem 0;
  text-align: center;
}
header .headerNav nav .slideDownMenu li a {
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 2rem;
}
header .headerNav nav .slideDownMenu li a:hover, header .headerNav nav .slideDownMenu li a:focus {
  color: #003391;
}
header .headerNav nav .showMenu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  top: 10vh;
}
header .headerNav .hamburgerMenu {
  padding-right: 2rem;
}
header .headerImage {
  background-image: url("../assets/backgroundImage.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;
}

.hidden {
  display: none;
}

footer {
  background-color: #43AA8B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
}
footer .footerContent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footerContent p {
  color: white;
  padding: 1.2rem 0;
}
footer .footerContent p a {
  text-decoration: underline;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
footer .footerContent p a:hover {
  color: #003391;
}

main {
  text-align: center;
  min-height: 20vh;
}

.introDropdown, .introSearch {
  padding: 30px 0;
  width: 100%;
}
.introDropdown p, .introSearch p {
  padding: 1rem 0;
}
.introDropdown select, .introSearch select {
  background-color: #43AA8B;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  border: none;
}
.introDropdown select option, .introSearch select option {
  color: white;
}
.introDropdown .recipeSearchForm input, .introSearch .recipeSearchForm input {
  padding: 0.5rem;
  border: 2px solid #43AA8B;
  outline: none;
}

.results .wrapper .cardHolder {
  display: none;
  -webkit-perspective: 40rem;
          perspective: 40rem;
  max-width: 556px;
  margin: 0 auto;
  cursor: pointer;
}
.results .wrapper .cardHolder .cardHolderInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}
.results .wrapper .cardHolder .cardHolderInner .recipeCardFront {
  min-width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #43AA8B;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 25px, rgba(0, 0, 0, 0.25) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 25px, rgba(0, 0, 0, 0.25) 0px 10px 10px;
}
.results .wrapper .cardHolder .cardHolderInner .recipeCardFront h2 {
  padding: 1rem 0;
  color: white;
}
.results .wrapper .cardHolder .cardHolderInner .recipeCardFront .imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.results .wrapper .cardHolder .cardHolderInner .recipeCardFront .cookingTimeServings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  padding-bottom: 25px;
}
.results .wrapper .cardHolder .cardHolderInner .recipeCardFront .cookingTimeServings .cookTime {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.4rem;
}
.results .wrapper .cardHolder .cardHolderInner .recipeCardFront .cookingTimeServings .servings {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.4rem;
}
.results .wrapper .cardHolder .cardHolderInner .recipeCardFront .ingredientsButton {
  background-color: #AA4362;
  font-family: "Arima", cursive;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 25px;
  font-size: 1rem;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  margin-bottom: 20px;
}
.results .wrapper .cardHolder .cardHolderInner .recipeCardFront .ingredientsButton:hover {
  background-color: #5743AA;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.results .wrapper .cardHolder .cardHolderInner .recipeCardBack {
  min-width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateX(-180deg) translate(-100%, 0);
          transform: rotateX(-180deg) translate(-100%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #43AA8B;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 25px, rgba(0, 0, 0, 0.25) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 25px, rgba(0, 0, 0, 0.25) 0px 10px 10px;
}
.results .wrapper .cardHolder .cardHolderInner .recipeCardBack h2 {
  padding: 1rem 0;
  color: white;
}
.results .wrapper .cardHolder .cardHolderInner .recipeCardBack .ingredientsPlusButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.results .wrapper .cardHolder .cardHolderInner .recipeCardBack .ingredientsPlusButton ul li {
  color: white;
}
.results .wrapper .cardHolder .cardHolderInner .recipeCardBack .ingredientsPlusButton .frontOfCardButton {
  background-color: #AA4362;
  font-family: "Arima", cursive;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 25px;
  font-size: 1rem;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  margin-bottom: 20px;
}
.results .wrapper .cardHolder .cardHolderInner .recipeCardBack .ingredientsPlusButton .frontOfCardButton:hover {
  background-color: #5743AA;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.results .wrapper .recipeInstructions {
  margin-top: 25px;
  text-align: left;
}
.results .wrapper .recipeInstructions article li {
  padding-bottom: 0.25rem;
}
.results .wrapper .recipeInstructions .recipeLink {
  padding-top: 1rem;
}
.results .wrapper .recipeInstructions .recipeLink a {
  text-decoration: underline;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.results .wrapper .recipeInstructions .recipeLink a:hover {
  color: #003391;
}
.results .wrapper .recipeInstructions .recipeLink a i {
  font-size: 0.7rem;
}
.results .wrapper .recipeInstructions .addMargin {
  margin-bottom: 75px;
}

.rotateCard {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

@media (max-width: 720px) {
  .wrapper {
    width: 85%;
  }
  header .headerNav {
    height: 7vh;
  }
  header .headerNav h1 {
    font-size: 1.5rem;
    padding: 0.5rem 0 0.5rem 1rem;
  }
  header .headerNav .hamburgerMenu {
    padding-right: 1rem;
  }
  header .headerNav nav .showMenu {
    top: 7vh;
  }
  header .headerImage {
    height: 40vh;
  }
  main {
    min-height: 30vh;
  }
  footer {
    height: 23vh;
  }
  footer .footerContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footerContent p {
    padding-top: 0.5rem;
  }
  footer .footerContent p:last-child {
    padding-bottom: 1rem;
  }
}
@media (max-width: 380px) {
  header .headerNav h1 {
    font-size: 1.25rem;
    padding: 0.5rem 0 0.5rem 1rem;
  }
}